#doButton {
  background-color: blue;
  font-size: 16px;
  padding: 12px;
  border-radius: 12px;
  color: white;
}

#doButton:hover {
  background-color: darkblue;
}

#doButton:active {
  background-color: red;
}
